//colors
$text-white: #ffffff;
$text-black: #000000;
$grey-text: #656465;
$heading-grey-text: #414141;


//buttons
$btn-red: #ff0000;
$btn-blue: #2f2ff4;
$btn-blue-hover:#0000db;
$btn-red-hover:#ea0018;

//font-related
$font-body: Helvetica, Arial;
$f-40: 40px;
$f-20:20px;
$f-18:18px;
$f-16: 16px;
$f-14:14px;
$f-12:12px;


